.genericButton{
    color: #fff;
    background-color: #2a6364;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    min-width: 80%;
}

.genericButton:hover{
    background-color: crimson;
}

.genericButton:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

.add-product-button{
    min-width: 0%;
}