/* src/components/Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b0c0e;
  padding: 10px 20px;
  position: relative;
  color: white;
}

.logo img {
  height: 50px;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
}

.nav-link {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-link img {
  height: 24px;
  margin-right: 8px;
}

.nav-link:hover {
  color: #9ACD32; 
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-toggle img {
  height: 24px;
}

/* Media query per dispositivi mobili */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #121418; /* Sfondo del menu */
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 100;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-items {
    flex-direction: column;
  }

  .nav-link {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}
